<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="suction_gripper" params="prefix">

		<xacro:property name="tcp_cal_filename" value="$(find mit_arch_suction_gripper)/config/tcp_calibration.yaml"/>
		<xacro:property name="tcp_cal" value="${load_yaml(tcp_cal_filename)}" />

		<xacro:property name="eef_mount_offset_filename" value="$(find mit_arch_suction_gripper)/config/eef_mount_offset.yaml"/>
		<xacro:property name="eef_mount_offset" value="${load_yaml(eef_mount_offset_filename)}" />
	
		<!-- link list -->
		<link name="${prefix}base_link">
		  <visual>
		  	<origin xyz="${eef_mount_offset['transform']['x']} ${eef_mount_offset['transform']['y']} ${eef_mount_offset['transform']['z']}" rpy="0 0 0"/>
		    <geometry>
		      <mesh filename="package://mit_arch_suction_gripper/meshes/visual/suction-gripper_mit-arch_visual.stl" scale=".001 .001 .001"/>
		    </geometry>
		    <material name="grey">
		      <color rgba="0.5 0.5 0.5 1.0"/>
		    </material>
		  </visual>
		  <collision>
		  	<origin xyz="${eef_mount_offset['transform']['x']} ${eef_mount_offset['transform']['y']} ${eef_mount_offset['transform']['z']}" rpy="0 0 0"/>
		    <geometry>
		      <mesh filename="package://mit_arch_suction_gripper/meshes/collision/suction-gripper_mit-arch_collision.stl" scale=".001 .001 .001"/>
		    </geometry>
		    <material name="red">
		      <color rgba="1 0 0 1"/>
		    </material>
		  </collision>
		</link>

		<link name="${prefix}tcp_frame"/>
		<!-- end of link list -->

		<!-- joint list -->
		<joint name="${prefix}base_to_tcp" type="fixed">
			<origin xyz="${tcp_cal['transform']['x']} ${tcp_cal['transform']['y']} ${tcp_cal['transform']['z']}"
		            rpy="${tcp_cal['transform']['roll']} ${tcp_cal['transform']['pitch']} ${tcp_cal['transform']['yaw']}"/>
		  <parent link="${prefix}base_link"/>
		  <child link="${prefix}tcp_frame"/>
		</joint>
		<!-- end of joint list -->
	
	</xacro:macro>
</robot>
